@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Implementasi Apriori Algorithm</h1>

    <h4>Steps:</h4>

    <a asp-action="Index" asp-controller="Products" class="btn btn-primary">Products</a> 
        
    <a asp-action="Index" asp-controller="Sales" class="btn btn-primary">Sales</a>
        
    Add items to sales data by clicking "Detail".
        
    Choose Apriori to start.
        
</div>
